.coverage
.project
.pydevproject
.settings

docs/*/
chromepdf/chromedrivers/chromedriver*
chromepdf/chromesession/users/*/
/chromedriver.exe
/chromedriver

*.db
*.log
*.bak 
*.pdf
*.pyc

/uploads
/tmp
