*.pyc

.coverage
.project
.pydevproject
.settings

docs/*/
chromepdf/chromedrivers/chromedriver*
chromepdf/chromesession/user-data-dir
chromepdf/chromesession/crash-dumps-dir

*.db
*.log
*.bak 

/uploads
/tmp
