.coverage
.project
.pydevproject
.settings

docs/*/
chromepdf/chromedrivers/chromedriver*
chromepdf/chromesession/users/*/
/testapp/temp/*
/chromedriver.exe
/chromedriver
/*.pdf
/*.html

*.db
*.log
*.bak 
*.pdf
*.pyc

/uploads
/tmp
